<a href="https://colab.research.google.com/github/saitros/100days-commit-project/blob/master/Python/Visualization/Kor_COVID_19_Visualize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KOR COVID-19 Data Visualize

## Install Package

In [2]:
!pip install pycountry_convert
!pip install plotly==4.6.0

Collecting pycountry_convert
  Downloading https://files.pythonhosted.org/packages/9b/e7/26c14899a43c34e04a58e3772007afe79dbd64fac15d2fbaeedff24082f2/pycountry_convert-0.7.2-py3-none-any.whl
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.6/dist-packages (from pycountry_convert) (0.34.2)
Collecting pytest-cov>=2.5.1
  Downloading https://files.pythonhosted.org/packages/b9/54/3673ee8be482f81527678ac894276223b9814bb7262e4f730469bb7bf70e/pytest_cov-2.8.1-py2.py3-none-any.whl
Collecting pprintpp>=0.3.0
  Downloading https://files.pythonhosted.org/packages/4e/d1/e4ed95fdd3ef13b78630280d9e9e240aeb65cc7c544ec57106149c3942fb/pprintpp-0.4.0-py2.py3-none-any.whl
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.6/dist-packages (from pycountry_convert) (3.6.4)
Collecting pytest-mock>=1.6.3
  Downloading https://files.pythonhosted.org/packages/79/9e/911cb100a48228f9069c9fc1a351d1489b1bc3e0c26e22ec218d552d2456/pytest_mock-3.1.0-py2.py3-none-any.whl
Collecting repoze.lru>=0.7
  Downloading https://files.pythonhosted.org/packages/b0/30/6cc0c95f0b59ad4b3b9163bff7cdcf793cc96fac64cf398ff26271f5cf5e/repoze.lru-0.7-py3-none-any.whl
Collecting pycountry>=16.11.27.1
  Downloading https://files.pythonhosted.org/packages/16/b6/154fe93072051d8ce7bf197690957b6d0ac9a21d51c9a1d05bd7c6fdb16f/pycountry-19.8.18.tar.gz (10.0MB)
     |████████████████████████████████| 10.0MB 8.0MB/s
Collecting coverage>=4.4
  Downloading https://files.pythonhosted.org/packages/2a/3e/fc18ecef69f174c13493576f46966053c1da07fd8721962530dc1a10b1ca/coverage-5.1-cp36-cp36m-manylinux1_x86_64.whl (227kB)
     |████████████████████████████████| 235kB 43.9MB/s
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (8.2.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.12.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (19.3.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.8.1)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (0.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (46.1.3)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=3.4.0->pycountry_convert) (1.3.0)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-19.8.18-py2.py3-none-any.whl size=10627361 sha256=cbb5e431fde5b52e1ddc8b57fd9b47efbf97524948b638ad5f788a451210905c
  Stored in directory: /root/.cache/pip/wheels/a2/98/bf/f0fa1c6bf8cf2cbdb750d583f84be51c2cd8272460b8b36bd3
Successfully built pycountry
ERROR: datascience 0.10.6 has requirement coverage==3.7.1, but you'll have coverage 5.1 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: coveralls 0.5 has requirement coverage<3.999,>=3.6, but you'll have coverage 5.1 which is incompatible.
Installing collected packages: coverage, pytest-cov, pprintpp, pytest-mock, repoze.lru, pycountry, pycountry-convert
  Found existing installation: coverage 3.7.1
    Uninstalling coverage-3.7.1:
      Successfully uninstalled coverage-3.7.1
Successfully installed coverage-5.1 pprintpp-0.4.0 pycountry-19.8.18 pycountry-convert-0.7.2 pytest-cov-2.8.1 pytest-mock-3.1.0 repoze.lru-0.7
Collecting plotly==4.6.0
  Downloading https://files.pythonhosted.org/packages/15/90/918bccb0ca60dc6d126d921e2c67126d75949f5da777e6b18c51fb12603d/plotly-4.6.0-py2.py3-none-any.whl (7.1MB)
     |████████████████████████████████| 7.2MB 2.8MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.6.0) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==4.6.0) (1.12.0)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.6.0

## Import Package

In [0]:
from google.colab import drive
import os

import pandas as pd

import folium
from folium import plugins

## Path Check

In [4]:
drive.mount('/content/drive')
FOLDER = '/content/drive/My Drive/You Play AI/data/dacon'
os.chdir(FOLDER)
os.getcwd()

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

'/content/drive/My Drive/You Play AI/data/dacon'

## Data Detailed Description

데이터에 관련한 설명이 따로 찾기 힘들어 데이터를 기반으로 개인적인 견해를 적었습니다

In [5]:
"""
File : Case.csv
Discussion : 불확실한 정보가 너무 많다

case_id : 확진자 고유 Key 
Province : 주거지 도/특별시 지명
City : 
group : 집단 감염 여부 True / False
Infection_case : 감염 경로(?)
Confirmed : (?)
latitude, longitude : 감염지 좌표(?)
"""

ex_df = pd.read_csv('Case.csv')
ex_df[ex_df['infection_case'] == 'Guro-gu Call Center']

    case_id     province             city  ...  confirmed   latitude   longitude
0   1000001        Seoul          Guro-gu  ...         98  37.508163  126.884387
33  1400001      Incheon  from other city  ...         20          -           -
55  2000002  Gyeonggi-do  from other city  ...         48          -           -

[3 rows x 8 columns]

In [6]:
"""
File : PatientInfo.scv
Discussion : 의미를 알 수 없는 데이터 포진

patient_id : 확진자 고유 Key
global_num : 전세계 확진자 수 None 값 많음
sex : 확진자 성별 
birth_year : 생년
age : 나이 x0 대 
country : 국적
province : 지역
city : 도시
disease : Nan or True 다른 질병 여부(?)
infection_case : 감염 경로
infection_order : 1차 감염, 2차 감염 / 감염 순서
infected_by : (?)
contact_number : 접촉자 수
symptom_onset_date : 최초 증상일 
confirmed_date : 확진일
released_date : 완치 판정일
deceased_date : 사망 판정일
state : 현 상태 4/20 
"""

ex_df = pd.read_csv('PatientInfo.csv')
ex_df.head()

   patient_id  global_num     sex  ...  released_date deceased_date     state
0  1000000001         2.0    male  ...     2020-02-05           NaN  released
1  1000000002         5.0    male  ...     2020-03-02           NaN  released
2  1000000003         6.0    male  ...     2020-02-19           NaN  released
3  1000000004         7.0    male  ...     2020-02-15           NaN  released
4  1000000005         9.0  female  ...     2020-02-24           NaN  released

[5 rows x 18 columns]

In [9]:
"""
File : PatientRoute.csv
Discussion : 

patient_id : 확진자 고유 Key
global_num : 전세계 확진자 수 None 값 많음
date : 경로 trace date
province : 방문지역
city : 방문 도시
type : 방문 장소
lat, long : 방문장소 위도, 경도
"""

ex_df = pd.read_csv('PatientRoute.csv')
ex_df.head()

   patient_id  global_num  ...   latitude   longitude
0  1000000001         2.0  ...  37.615246  126.715632
1  1000000001         2.0  ...  37.567241  127.005659
2  1000000002         5.0  ...  37.592560  127.017048
3  1000000002         5.0  ...  37.591810  127.016822
4  1000000002         5.0  ...  37.563992  127.029534

[5 rows x 8 columns]

In [21]:
"""
File : Weather.csv
Discussion : 

code : 지역코드
province : 지역명
date : 날짜
avg_temp : 평균기온
min_temp : 최소기온
max_temp : 최고기온
precipitation : 강수량
max_wind_speed : 최대 풍속
most_wind_direction : 풍향 
avg_relative_humidity : 평균 습도
"""

ex_df = pd.read_csv('Weather.csv')
ex_df[ex_df['date'] >= '2020-01-22'].head()

        code province  ... most_wind_direction  avg_relative_humidity
23711  10000    Seoul  ...                50.0                   36.0
23712  11000    Busan  ...                50.0                   82.3
23713  12000    Daegu  ...               140.0                   65.9
23714  13000  Gwangju  ...                50.0                   82.5
23715  14000  Incheon  ...                20.0                   53.4

[5 rows x 10 columns]

In [23]:
"""
File : TimeProvince.csv
Discussion : 지역별 날짜에 따른 확진, 완치, 사망자 

date : 날짜 (2020-01-20 ~ )
time : 16 or 0 (측정 기준 시간(?))
province : 지역
confirmed : 확진자
released : 완치자
deceased : 사망자
"""

ex_df = pd.read_csv('TimeProvince.csv')
ex_df.head()

         date  time province  confirmed  released  deceased
0  2020-01-20    16    Seoul          0         0         0
1  2020-01-20    16    Busan          0         0         0
2  2020-01-20    16    Daegu          0         0         0
3  2020-01-20    16  Incheon          1         0         0
4  2020-01-20    16  Gwangju          0         0         0

In [24]:
"""
File : TimeGender.csv
Discussion : 날짜에 따른 남여 확진자, 사망자 

date : 날짜 (2020-03-02 ~ )
time : 0 (측정 기준 시간(?))
sex : 성별
confirmed : 누적 확진자
deceased : 누적 사망자
"""

ex_df = pd.read_csv('TimeGender.csv')
ex_df.head()

         date  time     sex  confirmed  deceased
0  2020-03-02     0    male       1591        13
1  2020-03-02     0  female       2621         9
2  2020-03-03     0    male       1810        16
3  2020-03-03     0  female       3002        12
4  2020-03-04     0    male       1996        20

In [26]:
"""
File : TimeAge.csv
Discussion : 날짜에 따른 나이별 확진자, 사망자 

date : 날짜 (2020-03-02 ~ )
time : 0 (측정 기준 시간(?))
age : 나이
confirmed : 누적 확진자
deceased : 누적 사망자
"""

ex_df = pd.read_csv('TimeAge.csv')
ex_df.head(10)

         date  time  age  confirmed  deceased
0  2020-03-02     0   0s         32         0
1  2020-03-02     0  10s        169         0
2  2020-03-02     0  20s       1235         0
3  2020-03-02     0  30s        506         1
4  2020-03-02     0  40s        633         1
5  2020-03-02     0  50s        834         5
6  2020-03-02     0  60s        530         6
7  2020-03-02     0  70s        192         6
8  2020-03-02     0  80s         81         3
9  2020-03-03     0   0s         34         0

In [47]:
"""
File : TimeAge.csv
Discussion : 날짜에 따른 검사자 반응

date : 날짜 (2020-01-20 ~ )
time : 16 or 0 (측정 기준 시간(?))
test : 피검사자수
negative : 음성
confirmed : 양성 == 확진
released : 완치
deceased : 사망
"""

ex_df = pd.read_csv('Time.csv')
ex_df.head()

         date  time  test  negative  confirmed  released  deceased
0  2020-01-20    16     1         0          1         0         0
1  2020-01-21    16     1         0          1         0         0
2  2020-01-22    16     4         3          1         0         0
3  2020-01-23    16    22        21          1         0         0
4  2020-01-24    16    27        25          2         0         0

In [36]:
"""
File : SeoulFloating.csv
Discussion : 서울 유동인구 관련 데이터

date : 날짜 (2020-01-01 ~ )
hour : 측정시간 0시 ~ 23시
birth_year : 20대, 30대, ... 70대 
sex : 성별
province : 서울시
city : 서울 구
fp_num : 유동인구 수
""" 

ex_df = pd.read_csv('SeoulFloating.csv')
ex_df.head()

         date  hour  birth_year     sex province           city  fp_num
0  2020-01-01     0          20  female    Seoul      Dobong-gu   19140
1  2020-01-01     0          20    male    Seoul      Dobong-gu   19950
2  2020-01-01     0          20  female    Seoul  Dongdaemun-gu   25450
3  2020-01-01     0          20    male    Seoul  Dongdaemun-gu   27050
4  2020-01-01     0          20  female    Seoul     Dongjag-gu   28880

In [40]:
"""
File : SearchTrend.csv
Discussion : 출처를 알수없는 검색결과 

date : 날짜 (2016-01-01 ~ )
cold : 감기 관련 검색 (볼륨 부피 ..... 수치가 뭘 의미하는지 모르겠음)
    origin discription :  the search volume of coronavirus(flu, pneumonia, cold) in Korean language
flu : 독감 관련 검색 
pneumonia : 폐렴 관련 검색
coronavirus : 호흡기 질환 
"""

ex_df = pd.read_csv('SearchTrend.csv')
ex_df[ex_df['date'] >= '2020-01-22'].head()

            date     cold      flu  pneumonia  coronavirus
1482  2020-01-22  0.23808  0.56661    3.66416     29.74474
1483  2020-01-23  0.30308  0.55625    3.18035    100.00000
1484  2020-01-24  0.34689  0.40226    2.48156     86.11541
1485  2020-01-25  0.70888  0.39744    3.40926     62.84847
1486  2020-01-26  0.96569  0.40126    3.43989     39.62772

In [43]:
"""
File : Region.csv
Discussion : 지역관련 정보

code : 지역 코드
province : 시 / 구
city : 시 / 구 (province == city 는 각 province 의 부분합)
lat, long : 지역의 위도 경도
elementary_school_count : 초등학교 수 
kindergarten_count : 유치원 수 
university_count : 대학교 수 
academy_ratio : 학원(?) 비율
elderly_population_ratio : 고령인구 비율
elderly_alone_ratio : 독거노인 비율
nursing_home_count : 요양원 수 
"""

ex_df = pd.read_csv('Region.csv')
ex_df.head()

    code province  ... elderly_alone_ratio  nursing_home_count
0  10000    Seoul  ...                 5.8               22739
1  10010    Seoul  ...                 4.3                3088
2  10020    Seoul  ...                 5.4                1023
3  10030    Seoul  ...                 8.5                 628
4  10040    Seoul  ...                 5.7                1080

[5 rows x 12 columns]

In [44]:
"""
File : Policy.csv
Discussion : 정책 정보
"""

ex_df = pd.read_csv('Policy.csv')
ex_df.head()

   policy_id country         type  ...            detail  start_date    end_date
0          1   Korea        Alert  ...    level 1 (Blue)  2020-01-03  2020-01-19
1          2   Korea        Alert  ...  level 2 (Yellow)  2020-01-20  2020-01-27
2          3   Korea        Alert  ...  level 3 (Orange)  2020-01-28  2020-02-22
3          4   Korea        Alert  ...     level 4 (Red)  2020-02-23         NaN
4          5   Korea  Immigration  ...        from China  2020-02-04         NaN

[5 rows x 7 columns]

## Do Sth..

## With Ploty

### Plotting map with Folium

In [0]:
m = folium.Map([36, 128], zoom_start=7) 

# you can try these option 
# m = folium.Map([37, 128], zoom_start=7, tiles='Stamen Terrain') 
# m = folium.Map([37, 128], zoom_start=7, tiles='Stamen Toner') 

# with plugins Click to Fullscreen
plugins.Fullscreen(position='topright',  title='Click to Expand', 
                   title_cancel='Click to Exit', force_separate_button=True).add_to(m)

plugins.MousePosition().add_to(m)
                   
m